//colors
$hot-pink: #FF339B
$yellow: #FFF966
$blue: #41C0FF

body 
  margin: 0
  padding: 0
  background-color: #222

#polygon
  background-color: #fff
  -webkit-clip-path: polygon(0 94%, 100% 71%, 100% 100%, 0% 100%)
  clip-path: polygon(0 94%, 100% 71%, 100% 100%, 0% 100%)
  position: absolute
  bottom: 0
  height: 650px
  width: 100%

.landing-holder
  position: relative
  height: 100vh

@import 'lynx';

.work-holder 
  height: 100vh
  width: 100%
  position: relative
  div
    position: absolute
    background: #fff
  #triangle-left
    width: 147%;
    height: 55%
    right: 0
    -webkit-clip-path: polygon(100% 0%, 60% 100%, 0 0%)
    clip-path: polygon(100% 0%, 60% 100%, 0 0%)
  #triangle-right
    height: 50%
    width: 100%
    right: 0
    bottom: 0
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%)
    clip-path: polygon(100% 0, 0% 100%, 100% 100%)


@keyframes colors 
  0%   
    background-color: $hot-pink
  16.5%  
    background-color: $yellow
  82.5%  
    background-color: $blue
  100%    
    background-color: $hot-pink

@keyframes colors-two
  0%   
    background-color: $hot-pink
  33%  
    background-color: $yellow
  66%  
    background-color: $blue
  100%    
    background-color: $hot-pink

@keyframes colors-three
  0%   
    background-color: $yellow
  16.5%  
    background-color: $blue
  82.5%  
    background-color: $hot-pink
  100%    
    background-color: $yellow

@keyframes colors-four
  0%   
    background-color: $yellow
  33%  
    background-color: $blue
  66%  
    background-color: $hot-pink
  100%    
    background-color: $yellow

@keyframes colors-five
  0%   
    background-color: $blue
  16.5%  
    background-color: $hot-pink
  82.5%  
    background-color: $yellow
  100%   
    background-color: $blue

@keyframes colors-six
  0%   
    background-color: $blue
  33%  
    background-color: $hot-pink
  66%  
    background-color: $yellow
  100%   
    background-color: $blue

@keyframes fillup 
  0%   
    fill: $hot-pink
  16.5%  
    fill: $yellow
  82.5%  
    fill: $blue
  100%    
    fill: $hot-pink